@font-face {
  font-family: MySultanCafe;
  src: url(SultanCafe_PERSONAL_USE.ttf);
}

body {
  background: linear-gradient(#D4DDE4, #415369);
  margin: 0;
}

.frontbg {
	position: absolute;
	background-image: url('./waterfall.JPG');
  background-size: cover;
	height: 80%;
	width: 100%;
	display: table;
	padding: 0 0;
}

.frontinner {
	position: fixed;
	color: #FFF;
	width: 100%;
	font-size: 130px;
	font-family: MySultanCafe;
	text-align: center;
	opacity: .7;
	padding: 18% 0 0 0;
	display: table-cell;
	margin: auto;
}

.middle {
	height: 30%;
	width: 100%;
	opacity: .7;
	padding: 750 0 50px 0;
	margin: auto;
	color: #FFF;
	font-family: sans-serif;
	font-style: italic;
	font-size: 50px;
	text-align: center;
}

.pageview {
	padding: 30px;
}

#container {
  background-color: #D4DDE4;
  opacity: .5;
  padding: 20px;
  font-size: 15px;
  font-family: sans-serif;
}

.head {
	font-family: MySultanCafe;
	font-size: 130px;
	padding-top: .5em;
	padding-left: .5em;
	color: #FFF;
	opacity: .8;
}

.nav {
	list-style-type: none;
	list-style: none;
	opacity: .8;
	height: 30px;
	background-color: #FA6374;
	padding-top: .5em;
	font-family: sans-serif;
}

li {
	display: inline;
	font-size: 20px;
	padding-bottom: 6px;
	margin: 15px;
}

a {
	text-decoration: none;
	color: #FFF;
	opacity: .8;
	font-style: bold;
}

a:visited {
	color: #2C2C2C;
	font-style: bold;
}

a:hover {
	font-style: bold;
	color: #FFF;
	opacity: 100%;
}

#embedcv {
	background-color: #5B677D;
	align: center;
	margin-left: auto;
	margin-right: auto;
}

embed {
	padding: 10px 0 0 15%;
	align: center;
	margin-left: auto;
	margin-right: auto;
}

