@font-face {
  font-family: MySultanCafe;
  src: url(SultanCafe_PERSONAL_USE.ttf);
}

body {
  background: linear-gradient(#D4DDE4, #415369);
  margin: 0;
}

.frontbg {
	position: absolute;
	background-image: url('./waterfall.JPG');
  background-size: cover;
	height: 80%;
	width: 100%;
	display: table;
	padding: 0 0;
	border-bottom: 2px solid #FFF;
}

.frontinner {
	position: fixed;
	color: #FFF;
	width: 100%;
	font-size: 130px;
	font-family: MySultanCafe;
	text-align: center;
	opacity: .7;
	padding: 18% 0 0 0;
	display: table-cell;
	margin: auto;
}

.middle {
	height: 30%;
	width: 100%;
	opacity: .7;
	padding: 750 0 50px 0;
	margin: auto;
	color: #FFF;
	font-family: sans-serif;
	font-style: italic;
	font-size: 50px;
	text-align: center;
}

.pageview {
	padding: 15% 30px 0 30px;
}

#container {
  background-image: url('./waterfall.JPG');
  background-size: cover;
  opacity: .5;
  padding: 20px;
  font-size: 15px;
  font-family: sans-serif;
}

.head {
	font-family: MySultanCafe;
	font-size: 1em;
	padding-top: .5em;
	padding-left: .5em;
	color: #FFF;
	opacity: .8;
}

.nav {
	position: fixed;
	list-style-type: none;
	list-style: none;
	opacity: .8;
	height: 60px;
	width: 100%;
	background-color: #FA6374;
	padding-top: 30px;
	font-family: sans-serif;
	z-index: 1;
}

li {
	display: inline;
	font-size: 40px;
	padding: 30px 0 0 15px;
	margin: 15px;
}

a {
	text-decoration: none;
	color: #FFF;
	opacity: .8;
	font-style: bold;
}

a:visited {
	color: #FFF;
	opacity: .8;
	font-style: bold;
}

a:hover {
	font-style: bold;
	color: #FFF;
	opacity: .8;
}

#cvtable {
	background-color: #5B677D;
	opacity: .95;
	align: center;
	margin-left: auto;
	margin-right: auto;
}


table {
	padding: 20px;
	opacity: 100%;
	align: center;
	margin-left: auto;
	margin-right: auto;
}

th {
	padding: 20px;
	text-align: left;
	font-weight: normal;
}

.alignLeft {
	float: left;
	padding: 0;
}

.alignRight {
	float: right;
	padding: 0;
}

h3 {
	margin: 0 0 0 0;
}
