@font-face {
  font-family: MySultanCafe;
  src: url(SultanCafe_PERSONAL_USE.ttf);
}

body {
  background-color: #52534E;
}

.pageview {
	padding: 30px;
}

#container {
  background-color: #797a73;
  padding: 20px;
  font-family: sans-serif;
}

.head {
	font-family: MySultanCafe, Helvetica, Arial, sans-serif;
	font-size: 120px;
	padding-top: .5em;
	padding-left: .5em;
}

.nav {
	list-style-type: none;
	list-style: none;
	height: 30px;
	background-color: #FA6374;
	padding-top: .5em;
	font-family: sans-serif;
	font-weight: bold;
}

li {
	display: inline;
	font-size: 20px;
	padding-bottom: 6px;
	margin: 15px;
}

a {
	text-decoration: none;
	color: #2C2C2C;
	font-style: bold;
}

a:visited {
	color: #2C2C2C;
	font-style: bold;
}

a:hover {
	color: #CFE374;
	font-style: bold;
}

#embedcv {
	background-color: #6c6d67;
	align: center;
	margin-left: auto;
	margin-right: auto;
}

embed {
	padding: 10px 0 0 15%;
	align: center;
	margin-left: auto;
	margin-right: auto;
}

