// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Dosis');

$permanent-marker: 'Permanent Marker', serif;
$dosis: 'Dosis', serif;

// Palette
$black: #1F2421;
$darkgrey: #555555;
$beige: #DDD1C7;
$offwhite: #FEFEFF;
$coral: #FF7C68;

body {
	font-family: $dosis;
	color: $black;
}

//Styles for main component

.root {
	background: $darkgrey;
	height: 100vh;
	width: 100vw;
}

.topbar {
	color: $offwhite;
	height: 80px;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	padding: 24px;
	justify-content: space-between;
}

.title {
	font-family: $permanent-marker;
	font-size: 45px;
	width: 50%;
}

.directory {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-transform: uppercase;
}
